Notebooks/
.PrusaSlicer
.FreeCAD
.arduino
.arduino15
.bash_history
.cache
.cargo
.config/chromium
.config/cef_user_data
.config/dconf
.config/1Password
.config/BraveSoftware
.config/Code
.config/GIMP
.config/GIMP
.config/GitHub Desktop
.config/GitHub Desktop
.config/JetBrains
.config/QtProject.conf
.config/SpiderOakONE
.config/VirtualBox
.config/autostart
.config/bottom
.config/calibre
.config/discord
.config/enchant
.config/evince
.config/evolution
.config/flameshot
.config/font-manager
.config/fontconfig
.config/geary
.config/gedit
.config/gitui
.config/gnome-control-center
.config/gnome-initial-setup-done
.config/gnote
.config/goa-1.0
.config/google-chrome
.config/google-chrome-beta
.config/google-chrome-unstable
.config/gtk-2.0
.config/gtk-3.0
.config/hexchat
.config/ibus
.config/menus
.config/micro
.config/microsoft-edge-dev
.config/mimeapps.list
.config/mozc
.config/nautilus
.config/nvim
.config/pulse
.config/qalculate
.config/spotify
.config/sublime-text
.config/touchegg
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi
.config/vivaldi-snapshot
.config/yelp
.config
.cups
.dropbox
.dropbox-dist
.ghc
.gnome
.gnupg
.gtk-bookmarks
.java
.jssc
.julia
.lesshst
.local
.m2
.mozilla
.pam_environment
.pipewire-media-session
.pki
.pulse-cookie
.python_history
.rustup
.ssh
.steam
.steampath
.steampid
.sudo_as_admin_successful
.trick
.var
.vscode
.wget-hsts
Arduino
CLionProjects
Calibre Library
Documents
Downloads
Dropbox
GolandProjects
Pictures
SpiderOak Hive
Steam
VirtualBox VMs
backup
dev
mu_code
sketchbook
.bash_logout
